body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-url) no-repeat top center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 700px) {
    :root {
      --bg-url: url(./assets/./images/imageBackGround.jpg);
    }
  }

.container {
    max-width: 600px;
    background-color: rgba(53, 14, 90, 0.089);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4a0e8f;
    transition: box-shadow 0.3s ease;
    margin: auto;
    color: white;
    position: relative;
    z-index: 2;
}

.container:hover {
    box-shadow: 0 4px 20px 8px #6319d8;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
    display: flex;
    margin: auto;
    display: inline-block;
    padding: 5px 15px;
    transition: box-shadow 0.8s ease;
    cursor: default;
}

h1:hover{
    text-shadow: 0 0 8px #6319d8, 0 0 12px #6319d8;
}

input {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 25px;
    width: 35%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1c6ab8;
}

.linha-vertical {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: linear-gradient(to bottom, #6a0dad, #9b30ff, #6a0dad);
    box-shadow: 0 0 10px #9b30ff;
    z-index: 1;
    transition: box-shadow 0.3s ease;
}
.linha-vertical:hover{
    box-shadow: 0 4px 20px 8px #6319d8;
}